[submodule "imagesize-feedstock"]
	url = ../imagesize-feedstock.git
	path = imagesize-feedstock
[submodule "m4-feedstock"]
	url = ../m4-feedstock.git
	path = m4-feedstock
[submodule "perl-feedstock"]
	url = ../perl-feedstock.git
	path = perl-feedstock
[submodule "libtool-feedstock"]
	url = ../libtool-feedstock.git
	path = libtool-feedstock
[submodule "autoconf-feedstock"]
	url = ../autoconf-feedstock.git
	path = autoconf-feedstock
[submodule "automake-feedstock"]
	url = ../automake-feedstock.git
	path = automake-feedstock
[submodule "pkg-config-feedstock"]
	url = ../pkg-config-feedstock.git
	path = pkg-config-feedstock
[submodule "zlib-feedstock"]
	url = ../zlib-feedstock.git
	path = zlib-feedstock
[submodule "curl-feedstock"]
	url = ../curl-feedstock.git
	path = curl-feedstock
[submodule "expat-feedstock"]
	url = ../expat-feedstock.git
	path = expat-feedstock
[submodule "libiconv-feedstock"]
	url = ../libiconv-feedstock.git
	path = libiconv-feedstock
[submodule "xz-feedstock"]
	url = ../xz-feedstock.git
	path = xz-feedstock
[submodule "bzip2-feedstock"]
	url = ../bzip2-feedstock.git
	path = bzip2-feedstock
[submodule "libffi-feedstock"]
	url = ../libffi-feedstock.git
	path = libffi-feedstock
[submodule "ca-certificates-feedstock"]
	url = ../ca-certificates-feedstock.git
	path = ca-certificates-feedstock
[submodule "openssl-feedstock"]
	url = ../openssl-feedstock.git
	path = openssl-feedstock
[submodule "git-feedstock"]
	url = ../git-feedstock.git
	path = git-feedstock
[submodule "ncurses-feedstock"]
	url = ../ncurses-feedstock.git
	path = ncurses-feedstock
[submodule "readline-feedstock"]
	url = ../readline-feedstock.git
	path = readline-feedstock
[submodule "sqlite-feedstock"]
	url = ../sqlite-feedstock.git
	path = sqlite-feedstock
[submodule "yaml-feedstock"]
	url = ../yaml-feedstock.git
	path = yaml-feedstock
[submodule "python-feedstock"]
	url = ../python-feedstock.git
	path = python-feedstock
[submodule "certifi-feedstock"]
	url = ../certifi-feedstock.git
	path = certifi-feedstock
[submodule "setuptools-feedstock"]
	url = ../setuptools-feedstock.git
	path = setuptools-feedstock
[submodule "pyparsing-feedstock"]
	url = ../pyparsing-feedstock.git
	path = pyparsing-feedstock
[submodule "six-feedstock"]
	url = ../six-feedstock.git
	path = six-feedstock
[submodule "packaging-feedstock"]
	url = ../packaging-feedstock.git
	path = packaging-feedstock
[submodule "idna-feedstock"]
	url = ../idna-feedstock.git
	path = idna-feedstock
[submodule "asn1crypto-feedstock"]
	url = ../asn1crypto-feedstock.git
	path = asn1crypto-feedstock
[submodule "pycparser-feedstock"]
	url = ../pycparser-feedstock.git
	path = pycparser-feedstock
[submodule "cffi-feedstock"]
	url = ../cffi-feedstock.git
	path = cffi-feedstock
[submodule "cython-feedstock"]
	url = ../cython-feedstock.git
	path = cython-feedstock
[submodule "py-feedstock"]
	url = ../py-feedstock.git
	path = py-feedstock
[submodule "pytest-feedstock"]
	url = ../pytest-feedstock.git
	path = pytest-feedstock
[submodule "coverage-feedstock"]
	url = ../coverage-feedstock.git
	path = coverage-feedstock
[submodule "pytest-cov-feedstock"]
	url = ../pytest-cov-feedstock.git
	path = pytest-cov-feedstock
[submodule "cryptography-feedstock"]
	url = ../cryptography-feedstock.git
	path = cryptography-feedstock
[submodule "ruamel_yaml-feedstock"]
	url = ../ruamel_yaml-feedstock.git
	path = ruamel_yaml-feedstock
[submodule "vcversioner-feedstock"]
	url = ../vcversioner-feedstock.git
	path = vcversioner-feedstock
[submodule "jsonschema-feedstock"]
	url = ../jsonschema-feedstock.git
	path = jsonschema-feedstock
[submodule "wheel-feedstock"]
	url = ../wheel-feedstock.git
	path = wheel-feedstock
[submodule "pip-feedstock"]
	url = ../pip-feedstock.git
	path = pip-feedstock
[submodule "chardet-feedstock"]
	url = ../chardet-feedstock.git
	path = chardet-feedstock
[submodule "pysocks-feedstock"]
	url = ../pysocks-feedstock.git
	path = pysocks-feedstock
[submodule "urllib3-feedstock"]
	url = ../urllib3-feedstock.git
	path = urllib3-feedstock
[submodule "requests-feedstock"]
	url = ../requests-feedstock.git
	path = requests-feedstock
[submodule "pyopenssl-feedstock"]
	url = ../pyopenssl-feedstock.git
	path = pyopenssl-feedstock
[submodule "conda-env-feedstock"]
	url = ../conda-env-feedstock.git
	path = conda-env-feedstock
[submodule "pycosat-feedstock"]
	url = ../pycosat-feedstock.git
	path = pycosat-feedstock
[submodule "conda-feedstock"]
	url = ../conda-feedstock.git
	path = conda-feedstock
[submodule "alabaster-feedstock"]
	url = ../alabaster-feedstock.git
	path = alabaster-feedstock
[submodule "appnope-feedstock"]
	url = ../appnope-feedstock.git
	path = appnope-feedstock
[submodule "astroid-feedstock"]
	url = ../astroid-feedstock.git
	path = astroid-feedstock
[submodule "astropy-feedstock"]
	url = ../astropy-feedstock.git
	path = astropy-feedstock
[submodule "babel-feedstock"]
	url = ../babel-feedstock.git
	path = babel-feedstock
[submodule "beautifulsoup4-feedstock"]
	url = ../beautifulsoup4-feedstock.git
	path = beautifulsoup4-feedstock
[submodule "bkcharts-feedstock"]
	url = ../bkcharts-feedstock.git
	path = bkcharts-feedstock
[submodule "bleach-feedstock"]
	url = ../bleach-feedstock.git
	path = bleach-feedstock
[submodule "bottleneck-feedstock"]
	url = ../bottleneck-feedstock.git
	path = bottleneck-feedstock
[submodule "cairo-feedstock"]
	url = ../cairo-feedstock.git
	path = cairo-feedstock
[submodule "cloudpickle-feedstock"]
	url = ../cloudpickle-feedstock.git
	path = cloudpickle-feedstock
[submodule "clyent-feedstock"]
	url = ../clyent-feedstock.git
	path = clyent-feedstock
[submodule "colorama-feedstock"]
	url = ../colorama-feedstock.git
	path = colorama-feedstock
[submodule "configparser-feedstock"]
	url = ../configparser-feedstock.git
	path = configparser-feedstock
[submodule "contextlib2-feedstock"]
	url = ../contextlib2-feedstock.git
	path = contextlib2-feedstock
[submodule "cycler-feedstock"]
	url = ../cycler-feedstock.git
	path = cycler-feedstock
[submodule "cytoolz-feedstock"]
	url = ../cytoolz-feedstock.git
	path = cytoolz-feedstock
[submodule "dask-feedstock"]
	url = ../dask-feedstock.git
	path = dask-feedstock
[submodule "dbus-feedstock"]
	url = ../dbus-feedstock.git
	path = dbus-feedstock
[submodule "distributed-feedstock"]
	url = ../distributed-feedstock.git
	path = distributed-feedstock
[submodule "tk-feedstock"]
	url = ../tk-feedstock.git
	path = tk-feedstock
[submodule "docutils-feedstock"]
	url = ../docutils-feedstock.git
	path = docutils-feedstock
[submodule "entrypoints-feedstock"]
	url = ../entrypoints-feedstock.git
	path = entrypoints-feedstock
[submodule "click-feedstock"]
	url = ../click-feedstock.git
	path = click-feedstock
[submodule "et_xmlfile-feedstock"]
	url = ../et_xmlfile-feedstock.git
	path = et_xmlfile-feedstock
[submodule "fastcache-feedstock"]
	url = ../fastcache-feedstock.git
	path = fastcache-feedstock
[submodule "flask-feedstock"]
	url = ../flask-feedstock.git
	path = flask-feedstock
[submodule "fontconfig-feedstock"]
	url = ../fontconfig-feedstock.git
	path = fontconfig-feedstock
[submodule "jinja2-feedstock"]
	url = ../jinja2-feedstock.git
	path = jinja2-feedstock
[submodule "jupyter-feedstock"]
	url = ../jupyter-feedstock.git
	path = jupyter-feedstock
[submodule "libsodium-feedstock"]
	url = ../libsodium-feedstock.git
	path = libsodium-feedstock
[submodule "libtiff-feedstock"]
	url = ../libtiff-feedstock.git
	path = libtiff-feedstock
[submodule "lxml-feedstock"]
	url = ../lxml-feedstock.git
	path = lxml-feedstock
[submodule "zict-feedstock"]
	url = ../zict-feedstock.git
	path = zict-feedstock
[submodule "wrapt-feedstock"]
	url = ../wrapt-feedstock.git
	path = wrapt-feedstock
[submodule "werkzeug-feedstock"]
	url = ../werkzeug-feedstock.git
	path = werkzeug-feedstock
[submodule "wcwidth-feedstock"]
	url = ../wcwidth-feedstock.git
	path = wcwidth-feedstock
[submodule "typing-feedstock"]
	url = ../typing-feedstock.git
	path = typing-feedstock
[submodule "tornado-feedstock"]
	url = ../tornado-feedstock.git
	path = tornado-feedstock
[submodule "toolz-feedstock"]
	url = ../toolz-feedstock.git
	path = toolz-feedstock
[submodule "terminado-feedstock"]
	url = ../terminado-feedstock.git
	path = terminado-feedstock
[submodule "tblib-feedstock"]
	url = ../tblib-feedstock.git
	path = tblib-feedstock
[submodule "isort-feedstock"]
	url = ../isort-feedstock.git
	path = isort-feedstock
[submodule "zeromq-feedstock"]
	url = ../zeromq-feedstock.git
	path = zeromq-feedstock
[submodule "xlsxwriter-feedstock"]
	url = ../xlsxwriter-feedstock.git
	path = xlsxwriter-feedstock
[submodule "xlrd-feedstock"]
	url = ../xlrd-feedstock.git
	path = xlrd-feedstock
[submodule "widgetsnbextension-feedstock"]
	url = ../widgetsnbextension-feedstock.git
	path = widgetsnbextension-feedstock
[submodule "unixodbc-feedstock"]
	url = ../unixodbc-feedstock.git
	path = unixodbc-feedstock
[submodule "testpath-feedstock"]
	url = ../testpath-feedstock.git
	path = testpath-feedstock
[submodule "locket-feedstock"]
	url = ../locket-feedstock.git
	path = locket-feedstock
[submodule "libxcb-feedstock"]
	url = ../libxcb-feedstock.git
	path = libxcb-feedstock
[submodule "libxslt-feedstock"]
	url = ../libxslt-feedstock.git
	path = libxslt-feedstock
[submodule "libpng-feedstock"]
	url = ../libpng-feedstock.git
	path = libpng-feedstock
[submodule "heapdict-feedstock"]
	url = ../heapdict-feedstock.git
	path = heapdict-feedstock
[submodule "html5lib-feedstock"]
	url = ../html5lib-feedstock.git
	path = html5lib-feedstock
[submodule "greenlet-feedstock"]
	url = ../greenlet-feedstock.git
	path = greenlet-feedstock
[submodule "futures-feedstock"]
	url = ../futures-feedstock.git
	path = futures-feedstock
[submodule "functools32-feedstock"]
	url = ../functools32-feedstock.git
	path = functools32-feedstock
[submodule "bokeh-feedstock"]
	url = ../bokeh-feedstock.git
	path = bokeh-feedstock
[submodule "freetype-feedstock"]
	url = ../freetype-feedstock.git
	path = freetype-feedstock
[submodule "gst-plugins-base-feedstock"]
	url = ../gst-plugins-base-feedstock.git
	path = gst-plugins-base-feedstock
[submodule "h5py-feedstock"]
	url = ../h5py-feedstock.git
	path = h5py-feedstock
[submodule "ipykernel-feedstock"]
	url = ../ipykernel-feedstock.git
	path = ipykernel-feedstock
[submodule "itsdangerous-feedstock"]
	url = ../itsdangerous-feedstock.git
	path = itsdangerous-feedstock
[submodule "jdcal-feedstock"]
	url = ../jdcal-feedstock.git
	path = jdcal-feedstock
[submodule "lazy-object-proxy-feedstock"]
	url = ../lazy-object-proxy-feedstock.git
	path = lazy-object-proxy-feedstock
[submodule "markupsafe-feedstock"]
	url = ../markupsafe-feedstock.git
	path = markupsafe-feedstock
[submodule "mistune-feedstock"]
	url = ../mistune-feedstock.git
	path = mistune-feedstock
[submodule "mpmath-feedstock"]
	url = ../mpmath-feedstock.git
	path = mpmath-feedstock
[submodule "msgpack-python-feedstock"]
	url = ../msgpack-python-feedstock.git
	path = msgpack-python-feedstock
[submodule "multipledispatch-feedstock"]
	url = ../multipledispatch-feedstock.git
	path = multipledispatch-feedstock
[submodule "networkx-feedstock"]
	url = ../networkx-feedstock.git
	path = networkx-feedstock
[submodule "nltk-feedstock"]
	url = ../nltk-feedstock.git
	path = nltk-feedstock
[submodule "nose-feedstock"]
	url = ../nose-feedstock.git
	path = nose-feedstock
[submodule "numpydoc-feedstock"]
	url = ../numpydoc-feedstock.git
	path = numpydoc-feedstock
[submodule "olefile-feedstock"]
	url = ../olefile-feedstock.git
	path = olefile-feedstock
[submodule "openpyxl-feedstock"]
	url = ../openpyxl-feedstock.git
	path = openpyxl-feedstock
[submodule "partd-feedstock"]
	url = ../partd-feedstock.git
	path = partd-feedstock
[submodule "path.py-feedstock"]
	url = ../path.py-feedstock.git
	path = path.py-feedstock
[submodule "patsy-feedstock"]
	url = ../patsy-feedstock.git
	path = patsy-feedstock
[submodule "pep8-feedstock"]
	url = ../pep8-feedstock.git
	path = pep8-feedstock
[submodule "pexpect-feedstock"]
	url = ../pexpect-feedstock.git
	path = pexpect-feedstock
[submodule "pickleshare-feedstock"]
	url = ../pickleshare-feedstock.git
	path = pickleshare-feedstock
[submodule "pillow-feedstock"]
	url = ../pillow-feedstock.git
	path = pillow-feedstock
[submodule "pixman-feedstock"]
	url = ../pixman-feedstock.git
	path = pixman-feedstock
[submodule "ply-feedstock"]
	url = ../ply-feedstock.git
	path = ply-feedstock
[submodule "prompt_toolkit-feedstock"]
	url = ../prompt_toolkit-feedstock.git
	path = prompt_toolkit-feedstock
[submodule "psutil-feedstock"]
	url = ../psutil-feedstock.git
	path = psutil-feedstock
[submodule "ptyprocess-feedstock"]
	url = ../ptyprocess-feedstock.git
	path = ptyprocess-feedstock
[submodule "pycrypto-feedstock"]
	url = ../pycrypto-feedstock.git
	path = pycrypto-feedstock
[submodule "pyflakes-feedstock"]
	url = ../pyflakes-feedstock.git
	path = pyflakes-feedstock
[submodule "pygments-feedstock"]
	url = ../pygments-feedstock.git
	path = pygments-feedstock
[submodule "pylint-feedstock"]
	url = ../pylint-feedstock.git
	path = pylint-feedstock
[submodule "pytables-feedstock"]
	url = ../pytables-feedstock.git
	path = pytables-feedstock
[submodule "python-dateutil-feedstock"]
	url = ../python-dateutil-feedstock.git
	path = python-dateutil-feedstock
[submodule "pytz-feedstock"]
	url = ../pytz-feedstock.git
	path = pytz-feedstock
[submodule "pywavelets-feedstock"]
	url = ../pywavelets-feedstock.git
	path = pywavelets-feedstock
[submodule "pyyaml-feedstock"]
	url = ../pyyaml-feedstock.git
	path = pyyaml-feedstock
[submodule "sympy-feedstock"]
	url = ../sympy-feedstock.git
	path = sympy-feedstock
[submodule "subprocess32-feedstock"]
	url = ../subprocess32-feedstock.git
	path = subprocess32-feedstock
[submodule "statsmodels-feedstock"]
	url = ../statsmodels-feedstock.git
	path = statsmodels-feedstock
[submodule "ssl_match_hostname-feedstock"]
	url = ../ssl_match_hostname-feedstock.git
	path = ssl_match_hostname-feedstock
[submodule "sqlalchemy-feedstock"]
	url = ../sqlalchemy-feedstock.git
	path = sqlalchemy-feedstock
[submodule "spyder-feedstock"]
	url = ../spyder-feedstock.git
	path = spyder-feedstock
[submodule "sphinx-feedstock"]
	url = ../sphinx-feedstock.git
	path = sphinx-feedstock
[submodule "sphinxcontrib-websupport-feedstock"]
	url = ../sphinxcontrib-websupport-feedstock.git
	path = sphinxcontrib-websupport-feedstock
[submodule "scandir-feedstock"]
	url = ../scandir-feedstock.git
	path = scandir-feedstock
[submodule "seaborn-feedstock"]
	url = ../seaborn-feedstock.git
	path = seaborn-feedstock
[submodule "singledispatch-feedstock"]
	url = ../singledispatch-feedstock.git
	path = singledispatch-feedstock
[submodule "sip-feedstock"]
	url = ../sip-feedstock.git
	path = sip-feedstock
[submodule "snowballstemmer-feedstock"]
	url = ../snowballstemmer-feedstock.git
	path = snowballstemmer-feedstock
[submodule "sortedcollections-feedstock"]
	url = ../sortedcollections-feedstock.git
	path = sortedcollections-feedstock
[submodule "sortedcontainers-feedstock"]
	url = ../sortedcontainers-feedstock.git
	path = sortedcontainers-feedstock
[submodule "rope-feedstock"]
	url = ../rope-feedstock.git
	path = rope-feedstock
[submodule "qtawesome-feedstock"]
	url = ../qtawesome-feedstock.git
	path = qtawesome-feedstock
[submodule "qtconsole-feedstock"]
	url = ../qtconsole-feedstock.git
	path = qtconsole-feedstock
[submodule "qtpy-feedstock"]
	url = ../qtpy-feedstock.git
	path = qtpy-feedstock
[submodule "patch-feedstock"]
	url = ../patch-feedstock.git
	path = patch-feedstock
[submodule "backports_abc-feedstock"]
	url = ../backports_abc-feedstock.git
	path = backports_abc-feedstock
[submodule "flask-cors-feedstock"]
	url = ../flask-cors-feedstock.git
	path = flask-cors-feedstock
[submodule "datashape-feedstock"]
	url = ../datashape-feedstock.git
	path = datashape-feedstock
[submodule "bitarray-feedstock"]
	url = ../bitarray-feedstock.git
	path = bitarray-feedstock
[submodule "jedi-feedstock"]
	url = ../jedi-feedstock.git
	path = jedi-feedstock
[submodule "libssh2-feedstock"]
	url = ../libssh2-feedstock.git
	path = libssh2-feedstock
[submodule "gevent-feedstock"]
	url = ../gevent-feedstock.git
	path = gevent-feedstock
[submodule "pkgconfig-feedstock"]
	url = ../pkgconfig-feedstock.git
	path = pkgconfig-feedstock
[submodule "odo-feedstock"]
	url = ../odo-feedstock.git
	path = odo-feedstock
[submodule "icu-feedstock"]
	url = ../icu-feedstock.git
	path = icu-feedstock
[submodule "xlwt-feedstock"]
	url = ../xlwt-feedstock.git
	path = xlwt-feedstock
[submodule "jpeg-feedstock"]
	url = ../jpeg-feedstock.git
	path = jpeg-feedstock
[submodule "conda-verify-feedstock"]
	url = ../conda-verify-feedstock.git
	path = conda-verify-feedstock
[submodule "filelock-feedstock"]
	url = ../filelock-feedstock.git
	path = filelock-feedstock
[submodule "glob2-feedstock"]
	url = ../glob2-feedstock.git
	path = glob2-feedstock
[submodule "patchelf-feedstock"]
	url = ../patchelf-feedstock.git
	path = patchelf-feedstock
[submodule "conda-build-feedstock"]
	url = ../conda-build-feedstock.git
	path = conda-build-feedstock
[submodule "glib-feedstock"]
	url = ../glib-feedstock.git
	path = glib-feedstock
[submodule "libxml2-feedstock"]
	url = ../libxml2-feedstock.git
	path = libxml2-feedstock
[submodule "matplotlib-feedstock"]
	url = ../matplotlib-feedstock.git
	path = matplotlib-feedstock
[submodule "pango-feedstock"]
	url = ../pango-feedstock.git
	path = pango-feedstock
[submodule "pcre-feedstock"]
	url = ../pcre-feedstock.git
	path = pcre-feedstock
[submodule "pkginfo-feedstock"]
	url = ../pkginfo-feedstock.git
	path = pkginfo-feedstock
[submodule "aiohttp-feedstock"]
	url = ../aiohttp-feedstock.git
	path = aiohttp-feedstock
[submodule "arrow-feedstock"]
	url = ../arrow-feedstock.git
	path = arrow-feedstock
[submodule "alembic-feedstock"]
	url = ../alembic-feedstock.git
	path = alembic-feedstock
[submodule "async-timeout-feedstock"]
	url = ../async-timeout-feedstock.git
	path = async-timeout-feedstock
[submodule "elasticsearch-feedstock"]
	url = ../elasticsearch-feedstock.git
	path = elasticsearch-feedstock
[submodule "elasticsearch-dsl-feedstock"]
	url = ../elasticsearch-dsl-feedstock.git
	path = elasticsearch-dsl-feedstock
[submodule "nodejs-feedstock"]
	url = ../nodejs-feedstock.git
	path = nodejs-feedstock
[submodule "parsedatetime-feedstock"]
	url = ../parsedatetime-feedstock.git
	path = parsedatetime-feedstock
[submodule "pyjwt-feedstock"]
	url = ../pyjwt-feedstock.git
	path = pyjwt-feedstock
[submodule "python-editor-feedstock"]
	url = ../python-editor-feedstock.git
	path = python-editor-feedstock
[submodule "sqlalchemy-utils-feedstock"]
	url = ../sqlalchemy-utils-feedstock.git
	path = sqlalchemy-utils-feedstock
[submodule "pyzmq-feedstock"]
	url = ../pyzmq-feedstock.git
	path = pyzmq-feedstock
[submodule "webencodings-feedstock"]
	url = ../webencodings-feedstock.git
	path = webencodings-feedstock
[submodule "unicodecsv-feedstock"]
	url = ../unicodecsv-feedstock.git
	path = unicodecsv-feedstock
[submodule "jbig-feedstock"]
	url = ../jbig-feedstock.git
	path = jbig-feedstock
[submodule "ipython-feedstock"]
	url = ../ipython-feedstock.git
	path = ipython-feedstock
[submodule "ipython_genutils-feedstock"]
	url = ../ipython_genutils-feedstock.git
	path = ipython_genutils-feedstock
[submodule "ipywidgets-feedstock"]
	url = ../ipywidgets-feedstock.git
	path = ipywidgets-feedstock
[submodule "jupyter_client-feedstock"]
	url = ../jupyter_client-feedstock.git
	path = jupyter_client-feedstock
[submodule "jupyter_console-feedstock"]
	url = ../jupyter_console-feedstock.git
	path = jupyter_console-feedstock
[submodule "jupyter_core-feedstock"]
	url = ../jupyter_core-feedstock.git
	path = jupyter_core-feedstock
[submodule "nbconvert-feedstock"]
	url = ../nbconvert-feedstock.git
	path = nbconvert-feedstock
[submodule "nbformat-feedstock"]
	url = ../nbformat-feedstock.git
	path = nbformat-feedstock
[submodule "notebook-feedstock"]
	url = ../notebook-feedstock.git
	path = notebook-feedstock
[submodule "pandocfilters-feedstock"]
	url = ../pandocfilters-feedstock.git
	path = pandocfilters-feedstock
[submodule "pathlib2-feedstock"]
	url = ../pathlib2-feedstock.git
	path = pathlib2-feedstock
[submodule "traitlets-feedstock"]
	url = ../traitlets-feedstock.git
	path = traitlets-feedstock
[submodule "simplegeneric-feedstock"]
	url = ../simplegeneric-feedstock.git
	path = simplegeneric-feedstock
[submodule "enum34-feedstock"]
	url = ../enum34-feedstock.git
	path = enum34-feedstock
[submodule "funcsigs-feedstock"]
	url = ../funcsigs-feedstock.git
	path = funcsigs-feedstock
[submodule "ipaddress-feedstock"]
	url = ../ipaddress-feedstock.git
	path = ipaddress-feedstock
[submodule "decorator-feedstock"]
	url = ../decorator-feedstock.git
	path = decorator-feedstock
[submodule "pyqt-feedstock"]
	url = ../pyqt-feedstock.git
	path = pyqt-feedstock
[submodule "harfbuzz-feedstock"]
	url = ../harfbuzz-feedstock.git
	path = harfbuzz-feedstock
[submodule "hdf5-feedstock"]
	url = ../hdf5-feedstock.git
	path = hdf5-feedstock
[submodule "pyodbc-feedstock"]
	url = ../pyodbc-feedstock.git
	path = pyodbc-feedstock
[submodule "cdecimal-feedstock"]
	url = ../cdecimal-feedstock.git
	path = cdecimal-feedstock
[submodule "libuuid-feedstock"]
	url = ../libuuid-feedstock.git
	path = libuuid-feedstock
