
[submodule "libarchive-static-feedstock"]
	path = libarchive-static-feedstock
	url = ../libarchive-feedstock
	branch = master
[submodule "starkbank-ecdsa-feedstock"]
	path = starkbank-ecdsa-feedstock
	url = ../starkbank-ecdsa-feedstock
	branch = master
[submodule "setuptools-scm-git-archive-feedstock"]
	path = setuptools-scm-git-archive-feedstock
	url = ../setuptools-scm-git-archive-feedstock
	branch = master
[submodule "gin-config-feedstock"]
	path = gin-config-feedstock
	url = ../gin-config-feedstock
	branch = master
[submodule "llvmdev-11.0.1-feedstock"]
	path = llvmdev-11.0.1-feedstock
	url = ../llvmdev-feedstock
	branch = master-11.1.0
[submodule "distlib-feedstock"]
	url = ../distlib-feedstock.git
	path = distlib-feedstock
	branch = main

