
[submodule "libarchive-static-feedstock"]
	path = libarchive-static-feedstock
	url = ../libarchive-feedstock
	branch = master
[submodule "gin-config-feedstock"]
	path = gin-config-feedstock
	url = ../gin-config-feedstock
	branch = master
[submodule "llvmdev-11.0.1-feedstock"]
	path = llvmdev-11.0.1-feedstock
	url = ../llvmdev-feedstock
	branch = master-11.1.0
[submodule "pdfium2-binaries-feedstock"]
	path = pdfium2-binaries-feedstock
	url = ../pdfium2-binaries-feedstock
	branch = main
