blas_impl:
  - mkl                        # [x86 or x86_64]
  # - openblas
boost:
  - 1.64
bzip2:
  - 1.0
c_compiler:
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
cxx_compiler:
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
fortran_compiler:
  - intel-fortran              # [win]
CONDA_BUILD_SYSROOT:
  - /opt/MacOSX10.9.sdk        # [osx]
VERBOSE_AT:
  - V=1
VERBOSE_CM:
  - VERBOSE=1
dbus:
  - 1
expat:
  - 2.2
fontconfig:
  - 2.12
freetype:
  - 2.8
gstreamer:
  - 1.12
gst_plugins_base:
  - 1.12
geos:
  - 3.6.0
giflib:
  - 5.1
glib:
  - 2.53
hdf4:
  - 4.2
hdf5:
  - 1.8
  - 1.10
icu:
  - 58
ipython:
  - 5.4                        # [py27]
  - 6.1                        # [not py27]
jpeg:
  - 9
libdap4:
  - 3.19
libkml:
  - 1.3
libnetcdf:
  - 4.4
libpng:
  - 1.6
libtiff:
  - 4.0
libxml2:
  - 2.9
macos_min_version:
  - 10.9
macos_machine:
  - x86_64-apple-darwin13.4.0
MACOSX_DEPLOYMENT_TARGET:
  - 10.9
mkl:
  - 2018
# we build for an old version of numpy for forward compatibility
numpy:
  - 1.8  # [not win or py<35]
  - 1.9  # [win and py>=35]
openblas:
  - 0.2.19
perl:
  - 5.26
proj4:
  - 4
python:
  - 2.7
  - 3.5
  - 3.6
scipy:
  - 0.17
sqlite:
  - 3
# This differs from target_platform in that it determines what subdir the compiler
#    will target, not what subdir the compiler package will be itself.
#    For example, we need a win-64 vs2008_win-32 package, so that we compile win-32
#    code on win-64 miniconda.
cross_compiler_target_platform:
  - win-32                     # [win]
  - win-64                     # [win]
target_platform:
  - win-64                     # [win]
  - win-32                     # [win and not blas_impl != "mkl"]
vc:
  - 9
  - 14
  - 14
zlib:
  - 1.2
xz:
  - 5
zip_keys:
  -                             # [win]
    - vc                        # [win]
    - c_compiler                # [win]
    - cxx_compiler              # [win]
    - python                    # [win]
  -                             # [osx]
    - macos_min_version         # [osx]
    - macos_machine             # [osx]
    - MACOSX_DEPLOYMENT_TARGET  # [osx]
    - CONDA_BUILD_SYSROOT       # [osx]
