boost:
  - 1.64
c_compiler:                    # [win]
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
cxx_compiler:                  # [win]
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
expat:
  - 2.1
geos:
  - 3.6.0
giflib:
  - 5.1
hdf4:
  - 4.2
hdf5:
  - 1.8
  - 1.10
icu:
  - 58
jpeg:
  - 9
libdap4:
  - 3.19
libkml:
  - 1.3
libnetcdf:
  - 4.4
libpng:
  - 1.6
libtiff:
  - 4.0
libxml2:
  - 2.9
macos_min_version:              # [osx]
  - 10.9                        # [osx]
macos_machine:                  # [osx]
  - x86_64-apple-darwin13.4.0   # [osx]
MACOSX_DEPLOYMENT_TARGET:       # [osx]
  - 10.9                        # [osx]
CONDA_BUILD_SYSROOT:            # [osx]
  - /opt/MacOSX10.9.sdk         # [osx]
numpy:
  - 1.7                        # [py<34]
  - 1.9                        # [py35]
  - 1.11                       # [py>35]
perl:
  - 5.26
python:
  - 2.7
  - 3.5
  - 3.6
target_platform:
  - win-64                     # [win]
  - win-32                     # [win]
vc:
  - 9                          # [win]
  - 14                         # [win]
  - 14                         # [win]
zip_keys:
  -                            # [win or osx]
    - vc                       # [win]
    - c_compiler               # [win]
    - cxx_compiler             # [win]
    - python                   # [win]
    - macos_min_version        # [osx]
    - macos_machine            # [osx]
