vendor:
  - conda
build_platform:
  - osx-64
target_platform:
  - osx-64
cross_target_platform:
  - osx-64
compiler_ver:
  - 7.0.0
library_type:
  - shared
FINAL_CPPFLAGS:
  - -D_FORTIFY_SOURCE=2
FINAL_CFLAGS:
  - -march=nocona -mtune=haswell -ftree-vectorize -mmacosx-version-min=10.9 -Wl,-headerpad_max_install_names -fPIC -fstack-protector-strong -O2 -pipe
FINAL_CXXFLAGS:
  - -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -mmacosx-version-min=10.9 -Wl,-headerpad_max_install_names -fPIC -fstack-protector-strong -O2 -pipe
FINAL_FFLAGS:
  - -fopenmp -march=nocona -mtune=core2 -ftree-vectorize -mmacosx-version-min=10.9 -Wl,-headerpad_max_install_names -fPIC -fstack-protector -O2 -pipe
FINAL_LDFLAGS:
  - -Wl,-headerpad_max_install_names -Wl,-O2,--sort-common,--as-needed,-z,relro
FINAL_DEBUG_CFLAGS:
  - -march=nocona -mtune=haswell -ftree-vectorize -mmacosx-version-min=10.9 -Wl,-headerpad_max_install_names -fPIC -fstack-protector-strong -O2 -pipe -Og -g -Wall -Wextra -fcheck=all -fbacktrace -fimplicit-none -fvar-tracking-assignments
FINAL_DEBUG_CXXFLAGS:
  - -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -mmacosx-version-min=10.9 -Wl,-headerpad_max_install_names -fPIC -fstack-protector-strong -O2 -pipe -Og -g -Wall -Wextra -fcheck=all -fbacktrace -fimplicit-none -fvar-tracking-assignments
FINAL_DEBUG_FFLAGS:
  - -fopenmp -march=nocona -mtune=core2 -ftree-vectorize -mmacosx-version-min=10.9 -Wl,-headerpad_max_install_names -fPIC -fstack-protector -O2 -pipe -Og -g -Wall -Wextra -fcheck=all -fbacktrace -fimplicit-none -fvar-tracking-assignments
zip_keys:
  -
    - FINAL_CPPFLAGS
    - FINAL_CFLAGS
    - FINAL_CXXFLAGS
    - FINAL_FFLAGS
    - FINAL_LDFLAGS
    - FINAL_DEBUG_CFLAGS
    - FINAL_DEBUG_CXXFLAGS
    - FINAL_DEBUG_FFLAGS
